.svg-container {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;

	svg {
		max-width: 2000px;
		min-width: 1200px;
		height: 100%;

		path {
			transition: fill 0.2s ease;
		}

		line {
			pointer-events:none;
		}

		text {
			transition: font 0.3s ease, y 0.3s ease;
			pointer-events:none;
		}

		foreignObject {
			pointer-events:none;
			font-size: 12px;

			p {
				margin-bottom: 0px;
				margin-top: 5px;
			}

			hr {
				margin: 0px;
			}
		}

		.highlight-rect {
			fill: #ccc;
			stroke-width: 1;
			stroke: #666;
			pointer-events:none;
			transition: opacity 0.4s ease;
		}
	}
}

.info-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.info {
		box-sizing: border-box;
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 10px; // Add some margin around each box
		padding: 10px; // Add internal padding
		border: 1px solid #ccc; // Add border to make it look like a box
		border-radius: 10px;
		background-color: #f9f9f9; // Background color for the box
		font-size: 15px;
		align-items:center;

		.name {
			width: 100%;
			font-size: 16px;
			font-weight: bold;
		}
		
		p {
		  margin: 0;
		  white-space: nowrap; // Ensures the box is as wide as the internal content
		}
		
		hr {
		  width: 100%;
		}

		svg {
		  	width: 75px;
		}
	}
}
