// Styles for the parent container to center .drop-zone
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-zone {
    height: 100vh; // Minimum height to fill the viewport vertically
    width: 100%; // Full-width
    border: 2px dashed #888; // Dashed border
    padding: 20px;
    display: flex;
    flex-direction: column; // Vertical orientation
    align-items: center;
    justify-content: flex-start; // Start at the top of the div
    cursor: pointer;
    transition: height 1s ease, width 1s ease; // Adding transition only for height and width

    &:hover {
        background-color: #b2b2b2; // Background color when hovered
    }

    &.active {
        background-color: #c2c2c2; // Background color when active
    }

    &.dropped {
        height: 50px !important; // Important to override min-height
        width: 300px !important; // Important to override min-width
        min-height: auto; // Reset to auto
    }
}

.svg-container {
	width: 100%;
	margin-top: 10px;

	svg {
		width: 90%;
		height: 100%;
	}
}
