@import 'navbar';
@import 'login-container';
@import 'user-settings-container';
@import 'alert';
@import 'tokens';
@import 'map-creation';
@import 'map';

body {
	font-family: sans-serif;
	text-align: center;
	background-color: #a0a0a0;
}

